<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>龙泉残疾人联合会</title>
 <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container">
        <!--
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
-->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <!--
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      -->
      <li class="nav-item">
        <a class="nav-link active" href="/jdf/1">鉴定费</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" >儿童康复</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">康复手术</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">个性化辅具</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="GET" action="{{ url_for('search') }}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>
</nav>
 <div class="container">

        {% block content %} {% endblock %}
</div>

<script src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}" ></script>
<script src="{{url_for('static', filename='js/popper.min.js')}}" ></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}" ></script>
<script src="{{url_for('static', filename='js/moment.js')}}" ></script>


</body>
</html>